<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<ul class="nav">
			<li>
				<a href="{{ base_url() ~ staff.username }}" style="padding-top: 5px; padding-bottom: 0">
					<img src="{{ base_url() ~ 'img/uii.png'}}" style="height: 30px"/>
				</a>
			</li>
			<li class="divider-vertical"></li>
			<li><a href="{{ base_url() }}admin"><i class="icon-white icon-home"></i> Dashboard</a></li>
			<li><a href="{{ base_url() }}admin/articles"><i class="icon-white icon-pencil"></i> Artikel Blog</a></li>
			<li><a href="{{ base_url() }}admin/files"><i class="icon-white icon-file"></i> File</a></li>

		</ul>
		<ul class="nav pull-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<i class="icon-white icon-user"></i> {{ current.fullname }}
				<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>{{ anchor('admin/profile/edit', 'Edit Profil') }}</li>
					<li>{{ anchor('admin/profile/Password', 'Ubah Password') }}</li>
					<li>{{ anchor('logout', 'Logout') }}</li>
				</ul>
			</li>
		</ul>
	</div>
</div>