<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<ul class="nav">
			<li>
				<a href="{{ site_url() }}" style="padding-top: 5px; padding-bottom: 0">
					<img src="{{ base_url() ~ 'img/uii.png'}}" style="height: 30px"/>
					&nbsp; 
					<strong style="font-family: serif">
					UII STAFFSITE
					</strong>
				</a>
			</li>

			<li class="divider-vertical"></li>

			{% if staff %}
			<li id="userbar-admin" class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<i class="icon-white icon-cog"></i> Admin Area
				<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					{% include '_parts/admin_menu_list.html.twig' %}
				</ul>
			</li>
			{% endif %}
			
			{% if not staff %}
			<li>
				<a href="{{ site_url(current.username) }}">Visit Your Homepage &raquo;</a>
			</li>
			{% endif %}
		</ul>
		<ul class="nav pull-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<i class="icon-white icon-user"></i> {{ current.fullname }}
				<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li id="userbar-profile"><a href="{{ site_url('admin/profile/edit') }}"> Edit Profil</a></li>
					<li id="userbar-password"><a href="{{ site_url('admin/profile/password') }}"> Ubah Password</a></li>
					<li class="divider"></li>
					<li>{{ anchor('logout', 'Logout') }}</li>
				</ul>
			</li>
		</ul>
	</div>
</div>