{% extends _layout %}

{% block content %}

<div class="page-header">
	<h2>Edit Profil</h2>
</div>

<form class="form form-horizontal" action="{{ base_url() }}"admin/profile/edit>


{{ tw_control('username', form_input('username', profile.username)) }}
{{ tw_control('email', form_input('email', profile.email)) }}
{{ tw_control('tempat lahir', form_input('pob', profile.pob)) }}
{{ tw_control('bio', form_textarea('bio', profile.bio)) }}

<div class="form-actions">
	<input type="submit" value="Simpan" class="btn btn-large btn-primary"/>
	<input type="reset" value="Reset" class="btn btn-large"/>
</div>

</form>

{% endblock %}